/*styles for HomePage, LoginPage, SignUpPage here for now */
.home-container {
  text-align: center;
  margin-top: 50px;
}

.button-container {
  margin-top: 20px;
}

.button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.page-container {
  text-align: center;
  margin-top: 50px;
}
