.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f8f9fa; 
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
}

.home-container h1 {
  color: #c82333; 
  margin-bottom: 30px;
  font-size: 2.8rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.button-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin: 30px 0;
}

.button {
  display: inline-block;
  padding: 20px 40px; 
  margin: 15px 0;     
  background-color: #28a745; 
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent; 
}

.button:hover {
  background-color: #218838; 
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  border: 2px solid #28a745; 
}

.logo {
  width: 200px; 
  height: auto; 
  display: block; 
  margin: 20px auto; 
  border-radius: 10px; 

}


@media (max-width: 768px) {
  .home-container {
      padding: 20px 10px;
  }

  .home-container h1 {
      font-size: 2.2rem;
  }

  .button-container {
      flex-direction: column;
      align-items: center;
  }

  .button {
      width: 80%;
      margin: 10px 0;
      text-align: center;
  }

  .events-container {
      width: 90%;
  }
}
