
.main-page-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .main-page-container h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .link-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }

  .profile-text {
    margin-left: 8px; 
    text-decoration: none;
  }

  .profile-text:hover {
    text-decoration: underline;
  }